# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\林子键\Documents\Tencent Files\1003120963\FileRecv\新建文件夹\SE-2022-Teamwork\mubang\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
